/*******************/
/***** GENERAL *****/
/*******************/

body,
h1, h2,
p, ul, a {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}

h1 {
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

main {
    height: 20px;
}

/**********************/
/***** TYPOGRAPHY *****/
/**********************/


/***** HEADER *****/

.main-title,
.header-navbar-link {
    text-transform: uppercase;
}

.main-title {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.header-navbar-item {
    font-size: 0.9rem;
    letter-spacing: 0.15em;
    font-weight: 700;
}

/***** FOOTER *****/

.footer-navbar-item {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.cc-message {
    font-size: 0.7rem;
}

/******************/
/***** LAYOUT *****/
/******************/

.background {
    background-color: #030303;
}

/***** HEADER *****/

.content {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1400px;
    color: #fff;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: 1em;
    border-bottom: 1px solid #fff;
}

.img-link {
    order: -1;
    width: 45px;
    margin-inline: 0.5em;
}

.header-logo {
    display: block;
    width: 100%;
}

.navbar-list {
    display: flex;
}

.header-navbar-link {
    display: inline-block;
    text-decoration: none;
    padding-block: 0.2em;
    padding-inline: 0.7em;
}

.header-navbar-link:visited {
    color: #fff;
}

.header-navbar-link:hover,
.header-navbar-link:focus {
    background-color: #fff;
    color: #030303;
}

/***** FOOTER *****/

.footer-navbar-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-block: 0.2em;
}

.footer-navbar-link,
.footer-navbar-link:visited,
.cc-link {
    color: #fff;
    text-decoration: none;
}

.footer-navbar-link:hover,
.footer-navbar-link:focus {
    border-bottom: 1px solid #fff;
}

.footer-social-links {
    display:flex;
    justify-content: space-evenly;
    align-items: center;    
    padding: 0.5em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.link-social {
    width: 1.5em;
}
.img-social {
    display:block;
    width: 100%;
}

.footer-cc {
    text-align: center; 
    padding: 0.3em;
}
.cc-image {
    width: 1em;
} 

/******************/
/***** FIXES *****/
/******************/

.ls-fix{
    letter-spacing: 0;
}





