/***** GENERAL *****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #030303;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.125rem;
}

li {
    list-style-type: none;
}

/***** HEADER *****/
.background,
.banner {
    border-bottom: 1px solid #939393;
}

.content,
.navbar-list,
.banner {
    display: flex;
}

.background {
    width: 100%;
    background-color: #030303; 
}

.content {
    flex-direction: column;
    width: 95%;
    max-width: 1400px;
    color: #fff;
    margin: 0 auto;
}

.banner {
    justify-content: flex-start;
    align-items: center;
    padding-block: 1em;
}

.main-title {
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-logo-link {
    order: -1;
    width: 45px;
    margin-inline: 0.5em;
}
.header-logo {
    display: block;
    max-width: 100%;
}

.header-navbar-item {
    font-size: 0.9rem;
    letter-spacing: 0.15em;
    font-weight: 700;
}

.header-navbar-link {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding-block: 0.2em;
    padding-inline: 0.7em;
    transition: background-color 0.25s, color 0.25s;
}

.header-navbar-link:visited {
    color: #fff;
}
.header-navbar-link:hover,
.header-navbar-link:focus {
    background-color: #fff;
    color: #030303;
}

/***** HEADER MEDIA QUERY *****/
@media (min-width: 420px) {
    .main-title {
        font-size: 1.75rem;
        letter-spacing: 2px;
    }
    .header-logo-link {
        width: 60px;
        margin-inline: 0.6em;
    }
    .header-navbar-item {
        font-size: 1rem;
        letter-spacing: 0.2em; 
    }
    .header-navbar-link {
        padding-inline: 0.9em;
    }
}

@media (min-width: 620px) {
    .content-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .banner {
        border-bottom: 0;
    }
    .header-navbar-item {
        margin-inline-start: 1em;
        font-size: 0.8rem;
        letter-spacing: 0.2em; 
    }
    .header-navbar-link {
        border: 1px solid #939393;
        border-radius: 1em;
    }
}

@media (min-width: 770px) and (orientation: landscape) {
    .main-title {
        font-size: 2rem;
        letter-spacing: 4px;
    }
    .header-logo-link {
        width: 80px;
        margin-inline: 1em;
    }
    .header-navbar-item {
        font-size: 1rem;
    }  
}

@media (min-width: 1024px) {
    .main-title {
        font-size: 2.5rem;
        letter-spacing: 8px;
    }
    .header-logo-link {
        width: 110px;
        margin-inline: 1em;
    }
    .header-navbar-item {
        font-size: 1.2rem;
    }
}

/***** FOOTER *****/
.footer-navbar,
.footer-social-links {
    width: 80%;
    margin: 0 auto;
}

.footer-navbar-list {
    display: flex;
    justify-content: space-around;
    padding-block: 0.5em;
    border-bottom: 1px solid #939393;
}

.footer-navbar-item {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.footer-navbar-link,
.footer-navbar-link:visited {
    color: #fff;
    text-decoration: none;
}

.footer-navbar-link:hover,
.footer-navbar-link:focus {
    border-bottom: 1px solid #939393;
}

.footer-social-links {
    display:flex;
    justify-content: space-evenly;
    align-items: center;   
    padding: 1em;
}

.link-social {
    width: 1.5em;
}
.img-social {
    display:block;
    max-width: 100%;
}

.footer-cc {
    text-align: center; 
    padding-inline: 0.3em;
    border-top: 1px solid #939393;
}

.cc-message {
    font-size: 9px;
    letter-spacing: 0.8px;
    margin-block: 9px;
}

.cc-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #939393;
}

.cc-image {
    width: 1em;
} 

/***** FOOTER MEDIA QUERY *****/
@media (min-width: 420px) {
    .footer-navbar,
    .footer-social-links {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 620px) {
    .footer-general {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.5em;
        padding-inline: 0.8em;
    }
    .footer-navbar,
    .footer-social-links {
        width: 40%;
        padding: 0;
        margin: 0;
    }
    .footer-navbar-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 0;
    }
    .footer-social-links {
        display:flex;
        justify-content: space-between;
        align-items: center; 
        border-block-start: none;
    }
}

@media (min-width: 770px) {
    .footer-navbar-item {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .footer-navbar,
    .footer-social-links {
        width: 35%;
        padding: 0;
        margin: 0;
    }
    .link-social {
        width: 1.7em;
    }
    .cc-message {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .link-social {
        width: 1.9em;
    }
    .footer-navbar-item {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

/***** INFO PAGE *****/
.pages-links,
.links-div,
.link-page {
    display: flex;
}
.pages-links {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #030303;
    padding: 1em;
    margin: 0 auto;
    border-bottom: 1px solid #939393;
}
.link-page {
    flex-direction: column; 
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    background-color: #030303;
    color: #fff;
    text-decoration: none;
    padding: 0.75em;
    border-radius: 3em;
    margin: 0.5em;
}

.link-page:hover,
.link-page:focus {
    filter: invert(100%);
}

.link-img-page {
    display: block;
    max-width: 100%;
    height: 50%;
    margin: 0 auto;
}
.link-text-page {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/***** SFX PAGE *****/
.card { 
    min-width: 300px;
    width: 320px;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;  
    margin: 1em auto;
}
.card-sfx-black {
    background-color: #030303;
}

.card-area-title {
    display: flex;
    flex-direction: column;
    height: 40%;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.card-header, 
.card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header {
    padding-block-start: 0.6em;;
}
.sfx-card-icons {
    display: flex;
}
.sfx-card-figure {
    width: 30px;
}
.sfx-card-icon {
    display: block;
    width: 100%;
}
.sfx-card-badge {
    width: 25px;
    background-color: #fff;
    padding: 3px;
    border-radius: 1em;
}

.sfx-main-img {
    border-radius: 1em;
    overflow: hidden;
    margin-block: 0.6em;
}
.sfx-card-img {
    display: block; 
    filter: grayscale(100%);
    width: 100%;
}
.card-info-section {
    padding-block-start: 0.1em;
    border-block: 1px solid #939393;
    margin-block-start: 0.3em;
}

.sfx-card-description {
    padding-bottom: 0.1em;
    border-bottom: 1px solid #939393;
}

.card-info {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

.card-data {
    font-size: 0.8rem;
    text-align: center;
    margin-block: 0.2em;
    letter-spacing: 0;
}

.card-area-buttons {
    display: flex;
    justify-content: space-around;
    padding-block: 0.6em 1em; 
}

.card-button {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-block: 0.2em 0.25em;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s;
}
.card-button:hover,
.card-button:focus {
    background-color: #fff;
    color: #030303;
}

/***** FIXES *****/
.ls-fix{
    letter-spacing: 0;
}

/***** GEAR PAGE *****/
.gear-main {
    border-bottom: 1px solid #939393;
}

.gear-bckg {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

.gear-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.gear-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.gear-info {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #fff;
    color: #030303;
    border: 1px solid #939393;
    border-radius: 8em;
    overflow: hidden;
    margin-block: 1em;
}

.gear-figure {
    opacity: 1;
    transition: opacity 0.3s;
}
.gear-figure:hover {
    opacity: 0; 
}
.gear-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}
.gear-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    font-weight: 700;
    letter-spacing: 0.3px;
    padding-block: 4em;
}

@media (min-width: 800px) {
    .gear-info {
        order: -1;
    }
}


/***** RESUME PAGE *****/
.resume-main {
    border-bottom: 1px solid #939393;
}