/***** GENERAL *****/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #030303;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.125rem;
}

li {
    list-style-type: none;
}

/***** HEADER *****/
.background,
.banner {
    border-bottom: 1px solid #939393;
}

.content,
.navbar-list,
.banner {
    display: flex;
}

.background {
    width: 100%;
    background-color: #030303; 
}

.content {
    flex-direction: column;
    width: 95%;
    max-width: 1400px;
    color: #fff;
    margin: 0 auto;
}

.banner {
    justify-content: flex-start;
    align-items: center;
    padding-block: 1em;
}

.main-title {
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-logo-link {
    order: -1;
    width: 45px;
    margin-inline: 0.5em;
}
.header-logo {
    display: block;
    max-width: 100%;
}

.header-navbar-item {
    font-size: 0.9rem;
    letter-spacing: 0.15em;
    font-weight: 700;
}

.header-navbar-link {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding-block: 0.3em;
    padding-inline: 0.7em;
    transition: background-color 0.25s, color 0.25s;
}

.header-navbar-link:visited {
    color: #fff;
}
.header-navbar-link:hover,
.header-navbar-link:focus {
    background-color: #fff;
    color: #030303;
}

/***** HEADER MEDIA QUERY *****/
@media (min-width: 420px) {
    .main-title {
        font-size: 1.75rem;
        letter-spacing: 2px;
    }
    .header-logo-link {
        width: 60px;
        margin-inline: 0.6em;
    }
    .header-navbar-item {
        font-size: 1rem;
        letter-spacing: 0.2em; 
    }
    .header-navbar-link {
        padding-inline: 0.9em;
    }
}

@media (min-width: 620px) {
    .content-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .banner {
        border-bottom: 0;
    }
    .header-navbar-item {
        margin-inline-start: 1em;
        font-size: 0.8rem;
        letter-spacing: 0.2em; 
    }
    .header-navbar-link {
        border: 1px solid #939393;
        border-radius: 1em;
    }
}

@media (min-width: 770px) and (orientation: landscape) {
    .main-title {
        font-size: 2rem;
        letter-spacing: 4px;
    }
    .header-logo-link {
        width: 80px;
        margin-inline: 1em;
    }
    .header-navbar-item {
        font-size: 1rem;
    }  
}

@media (min-width: 1024px) {
    .main-title {
        font-size: 2.5rem;
        letter-spacing: 8px;
    }
    .header-logo-link {
        width: 110px;
        margin-inline: 1em;
    }
    .header-navbar-item {
        font-size: 1.2rem;
    }
}

/***** FOOTER *****/
.footer-navbar,
.footer-social-links {
    width: 80%;
    margin: 0 auto;
}

.footer-navbar-list {
    display: flex;
    justify-content: space-around;
    padding-block: 0.5em;
    border-bottom: 1px solid #939393;
}

.footer-navbar-item {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.footer-navbar-link,
.footer-navbar-link:visited {
    color: #fff;
    text-decoration: none;
}

.footer-navbar-link:hover,
.footer-navbar-link:focus {
    border-bottom: 1px solid #939393;
}

.footer-social-links {
    display:flex;
    justify-content: space-evenly;
    align-items: center;   
    padding: 1em;
}

.link-social {
    width: 1.5em;
}
.img-social {
    display:block;
    max-width: 100%;
}

.footer-cc {
    text-align: center; 
    padding-inline: 0.3em;
    border-top: 1px solid #939393;
}

.cc-message {
    font-size: 9px;
    letter-spacing: 0.8px;
    margin-block: 9px;
}

.cc-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #939393;
}

.cc-image {
    width: 1em;
} 

/***** FOOTER MEDIA QUERY *****/
@media (min-width: 420px) {
    .footer-navbar,
    .footer-social-links {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 620px) {
    .footer-general {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.5em;
        padding-inline: 0.8em;
    }
    .footer-navbar,
    .footer-social-links {
        width: 40%;
        padding: 0;
        margin: 0;
    }
    .footer-navbar-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 0;
    }
    .footer-social-links {
        display:flex;
        justify-content: space-between;
        align-items: center; 
        border-block-start: none;
    }
}

@media (min-width: 770px) {
    .footer-navbar-item {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .footer-navbar,
    .footer-social-links {
        width: 35%;
        padding: 0;
        margin: 0;
    }
    .link-social {
        width: 1.7em;
    }
    .cc-message {
        font-size: 12px;
    }
}

@media (min-width: 1024px) {
    .link-social {
        width: 1.9em;
    }
    .footer-navbar-item {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
}

/***** INFO PAGE *****/
.pages-links,
.links-div,
.link-page {
    display: flex;
}
.pages-links {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #030303;
    padding: 1em;
    margin: 0 auto;
    border-bottom: 1px solid #939393;
}
.link-page {
    flex-direction: column; 
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    background-color: #030303;
    color: #fff;
    text-decoration: none;
    padding: 0.75em;
    border-radius: 3em;
    margin: 0.5em;
}

.link-page:hover,
.link-page:focus {
    filter: invert(100%);
}

.link-img-page {
    display: block;
    max-width: 100%;
    height: 50%;
    margin: 0 auto;
}
.link-text-page {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/***** SFX PAGE *****/
.sfx-cards {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1400px;
    color: #fff;
    margin: 0 auto;
}
.card { 
    min-width: 300px;
    width: 320px;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;  
    margin: 1em auto;
}
.card-sfx-black {
    background-color: #030303;
}

.card-area-title {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.card-header, 
.card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header {
    padding-block-start: 0.6em;;
}

.sfx-card-figure-btn {
    width: 35px;
    background-color: #fff;
    padding-block: 0.6em;
    padding-inline: 0.6em;
    border: 1px solid #939393;
    border-radius: 2em;
    cursor: pointer;
}
.sfx-card-button{
    display: block;
    width: 100%;
    margin-inline: 0.1em 0;
}
.sfx-card-button-pause {
    display: block;
    width: 100%;
    margin-inline: 0;
}

.sfx-card-figure-btn:hover,
.sfx-card-figure-btn:focus {
    filter: invert(100%);
}

.sfx-card-icons {
    display: flex;
}
.sfx-card-figure {
    width: 30px;
}
.sfx-card-icon {
    display: block;
    width: 100%;
}

.sfx-card-badge {
    width: 35px;
    padding: 3px;
    border-radius: 1em;
}

.sfx-main-img {
    height: 150px;
    border-radius: 1em;
    overflow: hidden;
    margin-block: 0.6em;
}
.sfx-card-img {
    display: block; 
    filter: grayscale(100%);
    width: 100%;
}
.card-info-section {
    padding-block-start: 0.1em;
    border-block: 1px solid #939393;
    margin-block-start: 0.3em;
}

.sfx-card-description {
    padding-bottom: 0.1em;
    border-bottom: 1px solid #939393;
}

.card-info {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
}

.card-data {
    font-size: 0.8rem;
    text-align: center;
    margin-block: 0.2em;
    letter-spacing: 0;
}

.card-area-buttons {
    display: flex;
    justify-content: space-around;
    padding-block: 0.6em 1em; 
    margin-block-end: 1em; 
}

.card-button {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-block: 0.2em 0.25em;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s;
}
.card-button:hover,
.card-button:focus {
    background-color: #fff;
    color: #030303;
}

/***** GEAR PAGE *****/
.gear-main {
    border-bottom: 1px solid #939393;
}

.gear-bckg {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

.gear-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.gear-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.gear-info {
    position: relative;
    width: 300px;
    height: 450px;
    background-color: #fff;
    color: #030303;
    border: 1px solid #939393;
    border-radius: 8em;
    overflow: hidden;
    margin-block: 1em;
}

.gear-figure {
    opacity: 1;
    transition: opacity 0.3s;
}
.gear-figure:hover {
    opacity: 0; 
}
.gear-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}
.gear-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
    font-weight: 700;
    letter-spacing: 0.3px;
    padding-block: 4em;
}

@media (min-width: 800px) {
    .gear-info {
        order: -1;
    }
}


/***** RESUME PAGE *****/
.resume-main {
    border-bottom: 1x solid #939393;
}

.resume-section-year {
    width: 95%;
    max-width: 1400px;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
}

.year-title {
    background-color: #fff;
    color: #030303;
}
.year-title {
    width: 95%;
    text-align: center;
    padding-block: 0.2em; 
    border-radius: 1em;
    margin: 0 auto;
}

.resume-job {
    width: 95%;
    border: 1px solid #939393;
    padding: 1em;
    border-radius: 1em;
    overflow: hidden;
    margin: 1em auto;
}

.job-title,
.job-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job-title {
    width: 100%;
}

.job-position {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.job-period {
    font-size: 1.1rem;
    color: #dcdcdc;
}

.job-text {
    text-align: center;
    margin-block-end: 0.2em;
}

.project-title {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.4em;
    border-block: 1px solid #939393;
    margin-block: 0.5em;
}

.job-description,
.job-employer{
    font-size: 1rem;
}

.job-employer {
    font-style: italic;
    text-transform: uppercase;
}

.project-button {
    display: inline-block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.8px;
    padding-block: 0.2em 0.35em;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    margin-block-start: 0.5em;
    transition: background-color 0.3s, color 0.3s;
}
.project-button:hover,
.project-button:focus {
    background-color: #fff;
    color: #030303;
}

@media (min-width: 600px) {
    .year-title,
    .resume-job {
        max-width: 650px;
    }
    .job-title {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #939393;
    }
    .project-title {
        border: none;
        border-bottom: 1px solid #939393;
        margin: 0;
        margin-block-end: 0.5em;
    }
    .job-period {
        margin-block-end: 0.1em;
    }
    .job-description,
    .job-employer {
        font-size: 1.2rem;
    }
}

@media (min-width: 700px) {
    .year-title,
    .resume-job {
        max-width: 800px;
    }
    .year-title {
        font-size: 2rem;
    }
    .job-position {
        font-size: 1.8rem;
    }
    .job-period {
        font-size: 1.3rem;
        margin-block-end: 0.1em;
    }
    .project-title {
        font-size: 1.4rem;
    }

    .project-button {
        font-size: 1.2rem;
    }
}



/***** BLOG-MENU *****/
.blog-menu-section {
    width: 95%;
    max-width: 1400px;
    padding: 1em;
    border-block-end: 1px solid #939393;
    margin: 0 auto;
}

.blog-menu-part {
    display: flex;
    justify-content: center;
}

.blog-menu-title {
    font-size: 1.3rem;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-weight: 500;
    margin-block-end: 0.5em;
}

.blog-menu-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 1em;
}

.blog-menu-link {
    width: 80px;
    font-size: 2.75rem;
    font-weight: 700;
    background-color: #030303;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 0.2em;
    transition: background-color 0.25s, color 0.25s;
}
.blog-menu-link:hover,
.blog-menu-link:focus {
    background-color: #fff;
    color: #030303;
}

.link-pending {
    width: 80px;
    font-size: 2.75rem;
    font-weight: 700;
    background-color: #030303;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 0.2em;
}


.blog-menu-icon {
    display: block;
    width: 100%;
}

.blog-menu-text {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.5em;
}

.blog-menu-line {
    height: 0.1px;
}

@media (min-width: 1024px) {
    .blog-menu-title {
        font-size: 2rem;
    }
    .blog-menu-link {
        width: 100px;
        font-size: 3.5rem;
    }
    .blog-menu-text {
        font-size: 1.2rem;
    }
}

/***** BLOG-POST *****/

.blog-bckg {
    width: 95%;
    max-width: 1400px;
    margin: 1em auto;
}

.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #939393;
    border-radius: 1em; 
    padding: 0.5em 1em;
}

.blog-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-block-end: 0.2em;
    border-block-end: 1px solid #939393;
}

.article-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0; 
}

.article-date {
    font-size: 0.7rem;
    text-align: end;
    text-transform: uppercase;
}

.article-text, 
.article-outro {
    font-size: 1rem;
    text-indent: 20px;
    letter-spacing: 0.5px;
    text-align: justify;
    margin-block: 0.5em;
}
.article-outro {
    text-indent: 0;
    text-align: center;
}

.article-figure {
    width: 100%;
    height: 120px;
    overflow: hidden;
    margin: 1em auto;
}
.article-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15em;
    object-fit: cover;
    filter: grayscale(100%);
}

.seacoast-figure {
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin: 1em auto;
}
.boat-img {
    object-position: top;
}

@media (min-width: 420px) {
    .article-title {
        font-size: 1.3rem;
    }
    .article-date {
        font-size: 0.8rem;
    }
    .article-text, 
    .article-outro {
        font-size: 1.1rem;
        text-indent: 30px;
    }
    .seacoast-figure {
        width: 70%;
    }
}

@media (min-width: 520px) {
    .article-figure {
        height: 160px;
    }
}

@media (min-width: 620px) {
    .article-figure {
        height: 200px;
    }
    .seacoast-figure {
        width: 55%;
    }
}

@media (min-width: 770px) {
    .article-figure {
        height: 240px;
    }
    .article-title {
        font-size: 1.6rem;
    }
    .article-date {
        font-size: 1rem;
    }
    .article-text, 
    .article-outro {
        font-size: 1.3rem;
        text-indent: 50px;
    }
    .seacoast-figure {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .article-figure {
        height: 350px;
    }
}

/***** ABOUT *****/
.about-sec {
    display: flex;
    flex-direction: column;
}

.about-figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 1em auto;
}

@media (min-width: 420px) {
    .about-figure {
        width: 70%;
    }
}
@media (min-width: 620px) {
    .about-figure {
        width: 55%;
    }
}
@media (min-width: 770px) {
    .about-figure {
        width: 40%;
    }
}

/***** HOME PAGE *****/
.home-page {
    width: 95%;
    max-width: 1400px;
    padding: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    margin: 1em auto;
} 

.home-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-block-end: 0.5em;
}

.home-text, 
.cta-text {
    font-size: 1.2rem;
    text-align: center;
    margin-block-end: 1em;
}

.cta-sec {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cta-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    min-width: 200px;
    padding: 0.8em 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    margin: 0.5em;
}

.cta-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    align-self: flex-start;
}

.cta-text {
    font-size: 1.2rem;
    text-align: center;
    margin-block: 0.5em;
}

.cta-link {
    display: inline-block;
    background-color: #030303;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding-block: 0.4em 0.5em;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    margin: 0.4em;
    transition: background-color 0.25s, color 0.25s;
}

.cta-link:hover,
.cta-link:focus {
    background-color: #fff;
    color: #030303;
}

.form-sec {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-block: 2em;
}

.form-text {
    font-size: 1.2rem;  
    margin-block-end: 0.2em;
}

.form-text-intro {
    font-size: 1.6rem;
    text-transform: uppercase;
    border-bottom: 1px solid #939393;
    margin-block-end: 0.5em;
}

.form-input {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-block-end: 1em;
    padding-block: 0.3em;
    padding-inline: 0.6em;
    border: 1px solid #939393;
    border-radius: 1em; 
}

.form-button {
    display: inline-block;
    align-self: center;
    background-color: #030303;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    padding-block: 0.4em 0.3em;
    padding-inline: 1em;
    border: 1px solid #939393;
    border-radius: 1em;
    margin: 0.4em;
    transition: background-color 0.25s, color 0.25s;
}
.form-button:hover,
.form-button:focus {
    background-color: #fff;
    color: #030303;
}

@media (min-width: 420px) {
    .home-text,
    .cta-text {
        font-size: 1.3rem;
    }
}

@media (min-width: 620px) {
    .cta-sec {
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 770px) {
    .home-title {
        font-size: 4rem;
    }
    .home-text {
        font-size: 1.6rem;
    }
    .cta-title {
        font-size: 1.6rem;
    }
    .cta-text, 
    .form-text,
    .form-button {
        font-size: 1.4rem;  
    }
    .form-input {
        font-size: 1.3rem;
    }
    .cta-link {
        font-size: 1.2rem
    }
    .form-sec {
        max-width: 75   0px;
    }
    .form-text-intro {
        font-size: 2rem;
    }
}

/***** FIXES *****/
.ls-fix{
    letter-spacing: 0;
}